<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="GKBM Outlook Add-in" Language="1033" Version="2.11.2" Manufacturer="Tekhelps, Inc." UpgradeCode="{21518F5D-B14E-4B68-AE6E-7D15E0B93675}" Codepage="1252">
    <Package AdminImage="no" Comments="GKBM Outlook Add-in" Compressed="yes" Description="Outlook customizations for GKBM" InstallerVersion="200" InstallScope="perUser" Languages="1033" Manufacturer="Tekhelps, Inc." Platform="x86" ReadOnly="no" ShortNames="no" SummaryCodepage="1252" />
    <Media Id="1" Cabinet="GKBMOutlook.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1" />
    <Property Id="DiskPrompt" Value="GKBM Outlook Add-in Installation [1]" />
    <Property Id="ARPCOMMENTS" Value="GKBM Outlook Add-in" />
    <Property Id="ARPCONTACT" Value="Tekhelps, Inc." />
    <!-- The ".NET Framework" launch condition. -->
    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="This setup requires the .NET Framework 4.5.  Please install the .NET Framework and run this setup again."><![CDATA[Installed OR NETFRAMEWORK45]]></Condition>
    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
    <Binary Id="adxregistrator_exe" SourceFile="$(var.ADX_PATH)\Redistributables\adxregistrator.exe" />
    <!-- The "adxregistrator.exe" custom action. -->
    <CustomAction Id="_0F241419_402E_4C77_A085_307997821148" BinaryKey="adxregistrator_exe" Execute="deferred" ExeCommand="/install=&quot;[TARGETDIR]$(var.GKBMOutlook.TargetFileName)&quot; /privileges=user" Impersonate="yes" />
    <!-- The "adxregistrator.exe" custom action. -->
    <CustomAction Id="_CB48C0CF_16EC_47B3_BA2F_1FAFFC5DA772" BinaryKey="adxregistrator_exe" Execute="rollback" ExeCommand="/uninstall=&quot;[TARGETDIR]$(var.GKBMOutlook.TargetFileName)&quot; /privileges=user" Impersonate="yes" />
    <!-- The "adxregistrator.exe" custom action. -->
    <CustomAction Id="_831279A1_CC05_4AF6_90E5_99B69CB4DE62" BinaryKey="adxregistrator_exe" Execute="deferred" ExeCommand="/uninstall=&quot;[TARGETDIR]$(var.GKBMOutlook.TargetFileName)&quot; /privileges=user" Impersonate="yes" />
    <!-- Initialize the "TARGETDIR" directory property. -->
    <CustomAction Id="DIRCA_TARGETDIR" Property="TARGETDIR" Value="[LocalAppDataFolder][Manufacturer]\[ProductName]" Execute="firstSequence" />
    <Property Id="PREVIOUSINSTALLFOLDER">
      <RegistrySearch Id="_C33E60E5_16AF_44F0_86BD_01C64B733167" Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="Installed" Type="raw" />
    </Property>
    <CustomAction Id="DIRCA_TARGETDIR_UNINSTALL" Property="TARGETDIR" Value="[PREVIOUSINSTALLFOLDER]" Execute="firstSequence" />
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
    <!-- The directory tree of the installation package. -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- The "GKBMOutlook" project output. -->
      <Directory Id="GKBMOutlook.Binaries" />
      <!-- The "GKBMOutlook" project output. -->
      <Directory Id="GKBMOutlook.Satellites" />
      <Component Id="comp_2B0FAA42_1E87_4D55_A53E_2F56E07EBAC2" Guid="73103804-27F3-4BEA-B665-BF2E6EC3CDAF" Permanent="no" SharedDllRefCount="no" Transitive="no">
        <RegistryKey Root="HKCU" Key="Software\[Manufacturer]\[ProductName]">
          <RegistryValue Type="string" Name="Installed" Value="[TARGETDIR]" KeyPath="yes" />
        </RegistryKey>
        <File Id="_B89BAFA3_AFFB_4B17_A051_4897578E78D5" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="adxloader64.dll" Source="$(var.GKBMOutlook.ProjectDir)Loader\adxloader64.dll" />
        <File Id="_B722C0A5_B69A_4E8A_B330_A78790BFA9F6" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="adxloader.dll.manifest" Source="$(var.GKBMOutlook.ProjectDir)Loader\adxloader.dll.manifest" />
        <File Id="_83FD707E_73C3_42EA_B66A_79B9357302DF" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="adxloader.dll" Source="$(var.GKBMOutlook.ProjectDir)Loader\adxloader.dll" />
        <File Id="_31127F13_E343_4BE0_8191_C30499284582" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="AddinExpress.MSO.2005.dll" Source="C:\Program Files (x86)\Add-in Express\Add-in Express for .NET\Bin\AddinExpress.MSO.2005.dll" />
				<File Id="_B1257448_7138_408B_B580_F871699CC201" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="Microsoft.Office.Interop.Outlook.dll" Source="$(var.GKBMOutlook.TargetDir)Microsoft.Office.Interop.Outlook.dll" />
				<File Id="_6541D52D_1870_41A1_B806_9D3DB16E2F9C" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="Microsoft.Vbe.Interop.dll" Source="$(var.GKBMOutlook.TargetDir)Microsoft.Vbe.Interop.dll" />
				<File Id="_3EFBCF8E_4069_4332_94BD_582E656D9A4A" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="Office.dll" Source="$(var.GKBMOutlook.TargetDir)Office.dll" />   
      </Component>
    </Directory>
    <!-- The FileSystem group of the installation package. -->
    <ComponentGroup Id="FileSystemGroup">
      <ComponentGroupRef Id="GKBMOutlook.Binaries" />
      <ComponentGroupRef Id="GKBMOutlook.Satellites" />
      <ComponentRef Id="comp_2B0FAA42_1E87_4D55_A53E_2F56E07EBAC2" />
    </ComponentGroup>
    <!-- The composite feature of the installation package. -->
    <Feature Id="CompleteInstall" Title="All Files" Level="1" ConfigurableDirectory="TARGETDIR">
      <ComponentGroupRef Id="FileSystemGroup" />
    </Feature>
    <Upgrade Id="{21518F5D-B14E-4B68-AE6E-7D15E0B93675}">
      <UpgradeVersion Minimum="2.11.2" Property="NEWPRODUCTFOUND" OnlyDetect="yes" IncludeMinimum="no" Language="1033" />
      <UpgradeVersion Maximum="2.11.2" Property="OLDPRODUCTFOUND" OnlyDetect="no" IncludeMinimum="yes" IncludeMaximum="no" Language="1033" />
    </Upgrade>
    <InstallExecuteSequence>
      <Custom Action="DIRCA_TARGETDIR" Before="CostInitialize"><![CDATA[TARGETDIR=""]]></Custom>
      <Custom Action="DIRCA_TARGETDIR_UNINSTALL" After="AppSearch"><![CDATA[PREVIOUSINSTALLFOLDER]]></Custom>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts"><![CDATA[NEWPRODUCTFOUND]]></Custom>
      <Custom Action="_0F241419_402E_4C77_A085_307997821148" After="StartServices"><![CDATA[$comp_2B0FAA42_1E87_4D55_A53E_2F56E07EBAC2>2]]></Custom>
      <Custom Action="_CB48C0CF_16EC_47B3_BA2F_1FAFFC5DA772" After="_0F241419_402E_4C77_A085_307997821148"><![CDATA[$comp_2B0FAA42_1E87_4D55_A53E_2F56E07EBAC2>2]]></Custom>
      <Custom Action="_831279A1_CC05_4AF6_90E5_99B69CB4DE62" After="MsiUnpublishAssemblies"><![CDATA[$comp_2B0FAA42_1E87_4D55_A53E_2F56E07EBAC2=2]]></Custom>
      <RemoveExistingProducts Before="InstallInitialize" />
    </InstallExecuteSequence>
    <InstallUISequence>
      <FindRelatedProducts Sequence="200" />
      <Custom Action="DIRCA_TARGETDIR" Before="CostInitialize"><![CDATA[TARGETDIR=""]]></Custom>
      <Custom Action="DIRCA_TARGETDIR_UNINSTALL" After="AppSearch"><![CDATA[PREVIOUSINSTALLFOLDER]]></Custom>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts"><![CDATA[NEWPRODUCTFOUND]]></Custom>
    </InstallUISequence>
    <AdminUISequence>
      <Custom Action="DIRCA_TARGETDIR" Before="CostInitialize"><![CDATA[TARGETDIR=""]]></Custom>
    </AdminUISequence>
  </Product>
</Wix>