<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="GKBM Outlook Add-in" Language="1033" Version="2.1.8" Manufacturer="Tekhelps, Inc." UpgradeCode="{21518F5D-B14E-4B68-AE6E-7D15E0B93675}" Codepage="1252">
    <Package AdminImage="no" Comments="GKBM Outlook Add-in" Compressed="yes" Description="Outlook customizations for GKBM" InstallerVersion="200" InstallScope="perUser" Languages="1033" Manufacturer="Tekhelps, Inc." Platform="x86" ReadOnly="no" ShortNames="no" SummaryCodepage="1252" />
    <Media Id="1" Cabinet="GKBMOutlook.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1" />
    <Property Id="DiskPrompt" Value="GKBM Outlook Add-in Installation [1]" />
    <Property Id="ARPCOMMENTS" Value="GKBM Outlook Add-in" />
    <Property Id="ARPCONTACT" Value="Tekhelps, Inc." />
    <!-- The ".NET Framework" launch condition. -->
    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="This setup requires the .NET Framework 4.5.  Please install the .NET Framework and run this setup again."><![CDATA[Installed OR NETFRAMEWORK45]]></Condition>
    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
    <Binary Id="adxregistrator_exe" SourceFile="$(var.ADX_PATH)\Redistributables\adxregistrator.exe" />
    <!-- The "adxregistrator.exe" custom action. -->
    <CustomAction Id="_16010F5F_D0CB_4374_9D55_9F820D8AC1CE" BinaryKey="adxregistrator_exe" Execute="deferred" ExeCommand="/install=&quot;[TARGETDIR]$(var.GKBMOutlook.TargetFileName)&quot; /privileges=user" Impersonate="yes" />
    <!-- The "adxregistrator.exe" custom action. -->
    <CustomAction Id="_04B4232E_3BE5_48DC_9E62_02089D50881C" BinaryKey="adxregistrator_exe" Execute="rollback" ExeCommand="/uninstall=&quot;[TARGETDIR]$(var.GKBMOutlook.TargetFileName)&quot; /privileges=user" Impersonate="yes" />
    <!-- The "adxregistrator.exe" custom action. -->
    <CustomAction Id="_46369021_0ACC_42C9_97F9_920D9DE92F78" BinaryKey="adxregistrator_exe" Execute="deferred" ExeCommand="/uninstall=&quot;[TARGETDIR]$(var.GKBMOutlook.TargetFileName)&quot; /privileges=user" Impersonate="yes" />
    <!-- Initialize the "TARGETDIR" directory property. -->
    <CustomAction Id="DIRCA_TARGETDIR" Property="TARGETDIR" Value="[LocalAppDataFolder][Manufacturer]\[ProductName]" Execute="firstSequence" />
    <Property Id="PREVIOUSINSTALLFOLDER">
      <RegistrySearch Id="_3B624752_0580_4029_A65C_A89ACDEDCD29" Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="Installed" Type="raw" />
    </Property>
    <CustomAction Id="DIRCA_TARGETDIR_UNINSTALL" Property="TARGETDIR" Value="[PREVIOUSINSTALLFOLDER]" Execute="firstSequence" />
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
    <!-- The directory tree of the installation package. -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- The "GKBMOutlook" project output. -->
      <Directory Id="GKBMOutlook.Binaries" />
      <!-- The "GKBMOutlook" project output. -->
      <Directory Id="GKBMOutlook.Satellites" />
      <Component Id="comp_95702D27_07E5_45C2_B330_43DDE731AA5A" Guid="411D1486-34E4-42D5-9DEC-C8D2A0F6B718" Permanent="no" SharedDllRefCount="no" Transitive="no">
        <RegistryKey Root="HKCU" Key="Software\[Manufacturer]\[ProductName]">
          <RegistryValue Type="string" Name="Installed" Value="[TARGETDIR]" KeyPath="yes" />
        </RegistryKey>
        <File Id="_519101E8_6ACD_4DF3_ADF6_DAD5A1FE4FF5" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="adxloader64.dll" Source="$(var.GKBMOutlook.ProjectDir)Loader\adxloader64.dll" />
        <File Id="_9CA502BF_38EA_4DDA_B8DD_CBDF6DA16293" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="adxloader.dll.manifest" Source="$(var.GKBMOutlook.ProjectDir)Loader\adxloader.dll.manifest" />
        <File Id="_571434EC_A803_49CE_B3D0_8665923FB058" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="adxloader.dll" Source="$(var.GKBMOutlook.ProjectDir)Loader\adxloader.dll" />
        <File Id="_1ECB093D_83C1_4EBD_9D58_8B569AD1CD3C" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="AddinExpress.MSO.2005.dll" Source="C:\Program Files (x86)\Add-in Express\Add-in Express for .NET\Bin\AddinExpress.MSO.2005.dll" />
				<File Id="_4BE09AF5_0CDF_4CD6_8FC8_C988038BFE4E" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="Microsoft.Office.Interop.Outlook.dll" Source="$(var.GKBMOutlook.TargetDir)Microsoft.Office.Interop.Outlook.dll" />
				<File Id="_28C659CD_040C_4903_B30F_890A3C87E10D" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="Microsoft.Vbe.Interop.dll" Source="$(var.GKBMOutlook.TargetDir)Microsoft.Vbe.Interop.dll" />
				<File Id="_B803431D_1EDF_48EF_930C_C0C434526DED" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="Office.dll" Source="$(var.GKBMOutlook.TargetDir)Office.dll" />   
      </Component>
    </Directory>
    <!-- The FileSystem group of the installation package. -->
    <ComponentGroup Id="FileSystemGroup">
      <ComponentGroupRef Id="GKBMOutlook.Binaries" />
      <ComponentGroupRef Id="GKBMOutlook.Satellites" />
      <ComponentRef Id="comp_95702D27_07E5_45C2_B330_43DDE731AA5A" />
    </ComponentGroup>
    <!-- The composite feature of the installation package. -->
    <Feature Id="CompleteInstall" Title="All Files" Level="1" ConfigurableDirectory="TARGETDIR">
      <ComponentGroupRef Id="FileSystemGroup" />
    </Feature>
    <Upgrade Id="{21518F5D-B14E-4B68-AE6E-7D15E0B93675}">
      <UpgradeVersion Minimum="2.1.8" Property="NEWPRODUCTFOUND" OnlyDetect="yes" IncludeMinimum="no" Language="1033" />
      <UpgradeVersion Maximum="2.1.8" Property="OLDPRODUCTFOUND" OnlyDetect="no" IncludeMinimum="yes" IncludeMaximum="no" Language="1033" />
    </Upgrade>
    <InstallExecuteSequence>
      <Custom Action="DIRCA_TARGETDIR" Before="CostInitialize"><![CDATA[TARGETDIR=""]]></Custom>
      <Custom Action="DIRCA_TARGETDIR_UNINSTALL" After="AppSearch"><![CDATA[PREVIOUSINSTALLFOLDER]]></Custom>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts"><![CDATA[NEWPRODUCTFOUND]]></Custom>
      <Custom Action="_16010F5F_D0CB_4374_9D55_9F820D8AC1CE" After="StartServices"><![CDATA[$comp_95702D27_07E5_45C2_B330_43DDE731AA5A>2]]></Custom>
      <Custom Action="_04B4232E_3BE5_48DC_9E62_02089D50881C" After="_16010F5F_D0CB_4374_9D55_9F820D8AC1CE"><![CDATA[$comp_95702D27_07E5_45C2_B330_43DDE731AA5A>2]]></Custom>
      <Custom Action="_46369021_0ACC_42C9_97F9_920D9DE92F78" After="MsiUnpublishAssemblies"><![CDATA[$comp_95702D27_07E5_45C2_B330_43DDE731AA5A=2]]></Custom>
      <RemoveExistingProducts Before="InstallInitialize" />
    </InstallExecuteSequence>
    <InstallUISequence>
      <FindRelatedProducts Sequence="200" />
      <Custom Action="DIRCA_TARGETDIR" Before="CostInitialize"><![CDATA[TARGETDIR=""]]></Custom>
      <Custom Action="DIRCA_TARGETDIR_UNINSTALL" After="AppSearch"><![CDATA[PREVIOUSINSTALLFOLDER]]></Custom>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts"><![CDATA[NEWPRODUCTFOUND]]></Custom>
    </InstallUISequence>
    <AdminUISequence>
      <Custom Action="DIRCA_TARGETDIR" Before="CostInitialize"><![CDATA[TARGETDIR=""]]></Custom>
    </AdminUISequence>
  </Product>
</Wix>