<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="GKBM Outlook Add-in" Language="1033" Version="2.1.7" Manufacturer="Tekhelps, Inc." UpgradeCode="{21518F5D-B14E-4B68-AE6E-7D15E0B93675}" Codepage="1252">
    <Package AdminImage="no" Comments="GKBM Outlook Add-in" Compressed="yes" Description="Outlook customizations for GKBM" InstallerVersion="200" InstallScope="perUser" Languages="1033" Manufacturer="Tekhelps, Inc." Platform="x86" ReadOnly="no" ShortNames="no" SummaryCodepage="1252" />
    <Media Id="1" Cabinet="GKBMOutlook.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1" />
    <Property Id="DiskPrompt" Value="GKBM Outlook Add-in Installation [1]" />
    <Property Id="ARPCOMMENTS" Value="GKBM Outlook Add-in" />
    <Property Id="ARPCONTACT" Value="Tekhelps, Inc." />
    <!-- The ".NET Framework" launch condition. -->
    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="This setup requires the .NET Framework 4.5.  Please install the .NET Framework and run this setup again."><![CDATA[Installed OR NETFRAMEWORK45]]></Condition>
    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
    <Binary Id="adxregistrator_exe" SourceFile="$(var.ADX_PATH)\Redistributables\adxregistrator.exe" />
    <!-- The "adxregistrator.exe" custom action. -->
    <CustomAction Id="_35061442_8616_4927_ADF7_8A8EE62FB543" BinaryKey="adxregistrator_exe" Execute="deferred" ExeCommand="/install=&quot;[TARGETDIR]$(var.GKBMOutlook.TargetFileName)&quot; /privileges=user" Impersonate="yes" />
    <!-- The "adxregistrator.exe" custom action. -->
    <CustomAction Id="_0AAEF546_1952_4BAA_9DE8_5B945CB9EE04" BinaryKey="adxregistrator_exe" Execute="rollback" ExeCommand="/uninstall=&quot;[TARGETDIR]$(var.GKBMOutlook.TargetFileName)&quot; /privileges=user" Impersonate="yes" />
    <!-- The "adxregistrator.exe" custom action. -->
    <CustomAction Id="_20BE2898_3B86_4AE5_9C1D_E7231A9DBE5E" BinaryKey="adxregistrator_exe" Execute="deferred" ExeCommand="/uninstall=&quot;[TARGETDIR]$(var.GKBMOutlook.TargetFileName)&quot; /privileges=user" Impersonate="yes" />
    <!-- Initialize the "TARGETDIR" directory property. -->
    <CustomAction Id="DIRCA_TARGETDIR" Property="TARGETDIR" Value="[LocalAppDataFolder][Manufacturer]\[ProductName]" Execute="firstSequence" />
    <Property Id="PREVIOUSINSTALLFOLDER">
      <RegistrySearch Id="_D70FCE88_429D_4110_BD1C_5E612FA254A1" Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="Installed" Type="raw" />
    </Property>
    <CustomAction Id="DIRCA_TARGETDIR_UNINSTALL" Property="TARGETDIR" Value="[PREVIOUSINSTALLFOLDER]" Execute="firstSequence" />
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
    <!-- The directory tree of the installation package. -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- The "GKBMOutlook" project output. -->
      <Directory Id="GKBMOutlook.Binaries" />
      <!-- The "GKBMOutlook" project output. -->
      <Directory Id="GKBMOutlook.Satellites" />
      <Component Id="comp_46E18B5F_EE6E_41F7_8802_DB4B1F6CF7FF" Guid="31C8F80B-7E3A-4CF9-BE82-71CEED0373DD" Permanent="no" SharedDllRefCount="no" Transitive="no">
        <RegistryKey Root="HKCU" Key="Software\[Manufacturer]\[ProductName]">
          <RegistryValue Type="string" Name="Installed" Value="[TARGETDIR]" KeyPath="yes" />
        </RegistryKey>
        <File Id="_E7B66669_1E21_4E6A_8117_D5786EA7606F" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="adxloader64.dll" Source="$(var.GKBMOutlook.ProjectDir)Loader\adxloader64.dll" />
        <File Id="_A2A92912_6091_471D_947F_986BECF16264" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="adxloader.dll.manifest" Source="$(var.GKBMOutlook.ProjectDir)Loader\adxloader.dll.manifest" />
        <File Id="_4784D339_3CEC_4CE5_859C_D9749DA3E101" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="adxloader.dll" Source="$(var.GKBMOutlook.ProjectDir)Loader\adxloader.dll" />
        <File Id="_03F477AC_F5FA_48C5_A0C2_FEC0C7349E65" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="AddinExpress.MSO.2005.dll" Source="C:\Program Files (x86)\Add-in Express\Add-in Express for .NET\Bin\AddinExpress.MSO.2005.dll" />
				<File Id="_99A79371_7457_4EBE_99A8_890ECE8CA1CC" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="Microsoft.Office.Interop.Outlook.dll" Source="$(var.GKBMOutlook.TargetDir)Microsoft.Office.Interop.Outlook.dll" />
				<File Id="_7E9442FA_3882_496D_BABD_D817245245B3" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="Microsoft.Vbe.Interop.dll" Source="$(var.GKBMOutlook.TargetDir)Microsoft.Vbe.Interop.dll" />
				<File Id="_2F3D4AB3_9238_4FE0_909D_A2DB6199FD4D" DiskId="1" Hidden="no" ReadOnly="no" System="no" Vital="yes" Compressed="yes" Name="Office.dll" Source="$(var.GKBMOutlook.TargetDir)Office.dll" />   
      </Component>
    </Directory>
    <!-- The FileSystem group of the installation package. -->
    <ComponentGroup Id="FileSystemGroup">
      <ComponentGroupRef Id="GKBMOutlook.Binaries" />
      <ComponentGroupRef Id="GKBMOutlook.Satellites" />
      <ComponentRef Id="comp_46E18B5F_EE6E_41F7_8802_DB4B1F6CF7FF" />
    </ComponentGroup>
    <!-- The composite feature of the installation package. -->
    <Feature Id="CompleteInstall" Title="All Files" Level="1" ConfigurableDirectory="TARGETDIR">
      <ComponentGroupRef Id="FileSystemGroup" />
    </Feature>
    <Upgrade Id="{21518F5D-B14E-4B68-AE6E-7D15E0B93675}">
      <UpgradeVersion Minimum="2.1.7" Property="NEWPRODUCTFOUND" OnlyDetect="yes" IncludeMinimum="no" Language="1033" />
      <UpgradeVersion Maximum="2.1.7" Property="OLDPRODUCTFOUND" OnlyDetect="no" IncludeMinimum="yes" IncludeMaximum="no" Language="1033" />
    </Upgrade>
    <InstallExecuteSequence>
      <Custom Action="DIRCA_TARGETDIR" Before="CostInitialize"><![CDATA[TARGETDIR=""]]></Custom>
      <Custom Action="DIRCA_TARGETDIR_UNINSTALL" After="AppSearch"><![CDATA[PREVIOUSINSTALLFOLDER]]></Custom>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts"><![CDATA[NEWPRODUCTFOUND]]></Custom>
      <Custom Action="_35061442_8616_4927_ADF7_8A8EE62FB543" After="StartServices"><![CDATA[$comp_46E18B5F_EE6E_41F7_8802_DB4B1F6CF7FF>2]]></Custom>
      <Custom Action="_0AAEF546_1952_4BAA_9DE8_5B945CB9EE04" After="_35061442_8616_4927_ADF7_8A8EE62FB543"><![CDATA[$comp_46E18B5F_EE6E_41F7_8802_DB4B1F6CF7FF>2]]></Custom>
      <Custom Action="_20BE2898_3B86_4AE5_9C1D_E7231A9DBE5E" After="MsiUnpublishAssemblies"><![CDATA[$comp_46E18B5F_EE6E_41F7_8802_DB4B1F6CF7FF=2]]></Custom>
      <RemoveExistingProducts Before="InstallInitialize" />
    </InstallExecuteSequence>
    <InstallUISequence>
      <FindRelatedProducts Sequence="200" />
      <Custom Action="DIRCA_TARGETDIR" Before="CostInitialize"><![CDATA[TARGETDIR=""]]></Custom>
      <Custom Action="DIRCA_TARGETDIR_UNINSTALL" After="AppSearch"><![CDATA[PREVIOUSINSTALLFOLDER]]></Custom>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts"><![CDATA[NEWPRODUCTFOUND]]></Custom>
    </InstallUISequence>
    <AdminUISequence>
      <Custom Action="DIRCA_TARGETDIR" Before="CostInitialize"><![CDATA[TARGETDIR=""]]></Custom>
    </AdminUISequence>
  </Product>
</Wix>